
# CLICKHOUSE_DEFAULT_USER_PASSWORD contains Clickhouse's default account's password
#
CLICKHOUSE_DEFAULT_USER_PASSWORD=${CLICKHOUSE_DEFAULT_USER_PASSWORD}

# CLICKHOUSE_ADMIN_USER_PASSWORD contains Clickhouse's Admin account's password
#
CLICKHOUSE_ADMIN_USER_PASSWORD=${CLICKHOUSE_ADMIN_USER_PASSWORD}

# LANGFUSE_CLICKHOUSE_USER_PASSWORD contains the backend's Clickhouse
# account's password.
#
LANGFUSE_CLICKHOUSE_USER_PASSWORD=${LANGFUSE_CLICKHOUSE_USER_PASSWORD}
