--
-- Create 3 users:
--    * Backend application user.
--    * Backend checkpoints user.
--
-- NOTE: Users are global in Postgres.
--

DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$ANSWERS_POSTGRES_USER_NAME') THEN
    CREATE USER $ANSWERS_POSTGRES_USER_NAME WITH ENCRYPTED PASSWORD '$ANSWERS_POSTGRES_USER_PASSWORD';
    ALTER ROLE $ANSWERS_POSTGRES_USER_NAME SET search_path TO answers, public;
  END IF;
END
$$;
\g

DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$CHECKPOINTS_POSTGRES_USER_NAME') THEN
    CREATE USER $CHECKPOINTS_POSTGRES_USER_NAME WITH ENCRYPTED PASSWORD '$CHECKPOINTS_POSTGRES_USER_PASSWORD';
    ALTER ROLE $CHECKPOINTS_POSTGRES_USER_NAME SET search_path TO checkpoints, public;
  END IF;
END
$$;
\g


--
-- Create backend database.
--

SELECT 'CREATE DATABASE $ANSWERS_POSTGRES_DATABASE WITH OWNER $ANSWERS_POSTGRES_USER_NAME CONNECTION LIMIT 15'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '$ANSWERS_POSTGRES_DATABASE')
\gexec



--
-- With backend database:
--    * Create schemas for application and LangGraph checkpoints.
--

\c $ANSWERS_POSTGRES_DATABASE

CREATE SCHEMA IF NOT EXISTS answers;
\g

-- Allow backend user to use and create objects in schema 'answers'
GRANT USAGE, CREATE ON SCHEMA answers TO $ANSWERS_POSTGRES_USER_NAME;
\g

-- Ensure backend user has permissions to future objects in schema 'answers'
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON TABLES TO $ANSWERS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON SEQUENCES TO $ANSWERS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON FUNCTIONS TO $ANSWERS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON TYPES TO $ANSWERS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON ROUTINES TO $ANSWERS_POSTGRES_USER_NAME;
\g

CREATE SCHEMA IF NOT EXISTS checkpoints;
\g

-- Allow checkpoints user to use and create objects in schema 'checkpoints'
GRANT USAGE, CREATE ON SCHEMA checkpoints TO $CHECKPOINTS_POSTGRES_USER_NAME;
\g

-- Ensure checkpoints user has permissions to future objects in schema 'checkpoints'
ALTER DEFAULT PRIVILEGES IN SCHEMA checkpoints GRANT ALL PRIVILEGES ON TABLES TO $CHECKPOINTS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA checkpoints GRANT ALL PRIVILEGES ON SEQUENCES TO $CHECKPOINTS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA checkpoints GRANT ALL PRIVILEGES ON FUNCTIONS TO $CHECKPOINTS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA checkpoints GRANT ALL PRIVILEGES ON TYPES TO $CHECKPOINTS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA checkpoints GRANT ALL PRIVILEGES ON ROUTINES TO $CHECKPOINTS_POSTGRES_USER_NAME;
\g

