--
-- Create Keycloak user.
--
DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$KEYCLOAK_POSTGRES_USER_NAME') THEN
    CREATE USER $KEYCLOAK_POSTGRES_USER_NAME WITH ENCRYPTED PASSWORD '$KEYCLOAK_POSTGRES_USER_PASSWORD';
  END IF;
END
$$;
\g

--
-- Create Keycloak database.
--
SELECT 'CREATE DATABASE keycloak WITH OWNER $KEYCLOAK_POSTGRES_USER_NAME CONNECTION LIMIT 15'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'keycloak')
\gexec

--
-- Grant privileges
--
\c keycloak
GRANT ALL PRIVILEGES ON DATABASE keycloak TO $KEYCLOAK_POSTGRES_USER_NAME;
\g
GRANT ALL ON SCHEMA public TO $KEYCLOAK_POSTGRES_USER_NAME;
\g
