--
-- Create MLflow user.
--
DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$MLFLOW_POSTGRES_USER_NAME') THEN
    CREATE USER $MLFLOW_POSTGRES_USER_NAME WITH ENCRYPTED PASSWORD '$MLFLOW_POSTGRES_USER_PASSWORD';
  ELSE
    ALTER USER $MLFLOW_POSTGRES_USER_NAME WITH ENCRYPTED PASSWORD '$MLFLOW_POSTGRES_USER_PASSWORD';
  END IF;
END
$$;
\g

--
-- Create MLflow database.
--
SELECT 'CREATE DATABASE mlflow WITH OWNER $MLFLOW_POSTGRES_USER_NAME CONNECTION LIMIT 100'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'mlflow')
\gexec

--
-- Grant privileges
--
\c mlflow
GRANT ALL PRIVILEGES ON DATABASE mlflow TO $MLFLOW_POSTGRES_USER_NAME;
\g
GRANT ALL ON SCHEMA public TO $MLFLOW_POSTGRES_USER_NAME;
\g
