
# The Postgres password should be URL-encoded: the Postgres operations go thru
# the Prisma ORM, which creates this need.
#
# See: https://www.prisma.io/docs/reference/database-reference/connection-urls

DATABASE_URL=postgres://langfuse:${LANGFUSE_POSTGRES_USER_PASSWORD}@pgvector:5432/langfuse

# openssl rand -base64 32
SALT=${LANGFUSE_SALT}

# generate via `openssl rand -hex 32`
ENCRYPTION_KEY=${LANGFUSE_ENCRYPTION_KEY}

CLICKHOUSE_PASSWORD=${LANGFUSE_CLICKHOUSE_USER_PASSWORD}

LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=${LANGFUSE_MINIO_USER_PASSWORD}
LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY=${LANGFUSE_MINIO_USER_PASSWORD}

REDIS_AUTH=${REDIS_DEFAULT_PASSWORD}
REDIS_URL=redis://default:${REDIS_DEFAULT_PASSWORD}@redis:6379/0
