
## LANGFUSE_POSTGRES_USER_PASSWORD
DATABASE_URL=postgresql://langfuse:${LANGFUSE_POSTGRES_USER_PASSWORD_ENCODED}@pgvector:5432/langfuse

# openssl rand -base64 32
SALT=${LANGFUSE_SALT}

# generate via `openssl rand -hex 32`
ENCRYPTION_KEY=${LANGFUSE_ENCRYPTION_KEY}

CLICKHOUSE_PASSWORD=${LANGFUSE_CLICKHOUSE_USER_PASSWORD_ENCODED}

LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=${LANGFUSE_MINIO_USER_PASSWORD_ENCODED}
LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY=${LANGFUSE_MINIO_USER_PASSWORD_ENCODED}

REDIS_AUTH=
