DATABASE_URL=postgres://langfuse:${LANGFUSE_POSTGRES_USER_PASSWORD}@pgvector:5432/langfuse

CLICKHOUSE_PASSWORD=${LANGFUSE_CLICKHOUSE_USER_PASSWORD}

REDIS_AUTH=${REDIS_DEFAULT_PASSWORD}
REDIS_URL=redis://:${REDIS_DEFAULT_PASSWORD}@redis:6379/0
