
# Log files should never be committed
logs/*
# Allow the one placeholder file to cause the logs directory to be created
!logs/.keep

# secrets should never be committed
secrets-*.env
secrets/*
# Allow the one placeholder file to cause the secrets directory to be created
!secrets/.keep

# Editor directories and files
.vscode/*

# local overrides, should not be committed
*.overrides.env

# SSL certificates should not be committed
*.crt
*.key
*.pem

# Redis configuration contains password. Should not be committed
redis/redis.conf
