# Logs
logs
*.log


# Editor directories and files
.vscode/*

# local overrides, should not be committed
*.overrides.env

# secrets, should never be committed
secrets.env
*.secrets.env

# SSL certificates should not be committed
*.crt
*.key
*.pem

# Clickhouse admin user configuration contains password. Should not be committed
clickhouse/admin-user.xml

# Redis configuration contains password. Should not be committed
redis/redis.conf
