# Logs
logs
*.log


# Editor directories and files
.vscode/*

# local overrides, should not be committed
*.overrides.env

# secrets, should never be committed
*.secrets.env

# Clickhouse admin user configuration contains password. Should not be committed
clickhouse/admin-user.xml