# HF_TOKEN contains the Huggingface account's User Access token. This is needed when
# using the Huggingface Hub client to connect to Huggingface Hub.
HF_TOKEN=${HF_TOKEN}

# HUGGINGFACEHUB_API_TOKEN contains the Huggingface account's User Access token.
# This is needed when using LangChain's integration to connect to Huggingface Hub.
#
# Currently required since there is only one embeddings model that is supported.
HUGGINGFACEHUB_API_TOKEN=${HUGGINGFACEHUB_API_TOKEN}

# UNSTRUCTURED_API_KEY contains the Unstructured.io API Key. This is needed
# when using Unstructured's Cloud API instead of the local Python package.
UNSTRUCTURED_API_KEY=${UNSTRUCTURED_API_KEY}

# OPENAI_API_KEY contains the platform.openai.com API key. This is needed when
# using OpenAI's API. 
#
# Currently required since there is only one LLM model that is supported.
OPENAI_API_KEY=${OPENAI_API_KEY}

GOOGLE_API_KEY=${GOOGLE_API_KEY}

# LANGCHAIN_API_KEY contains the langsmith.com API key. This is needed when
# using LangSmith's API for tracing.
LANGCHAIN_API_KEY=${LANGCHAIN_API_KEY}


# BACKEND_MINIO_USER_PASSWORD contains the backend's Minio
# account's password.
#
BACKEND_MINIO_USER_PASSWORD=${BACKEND_MINIO_USER_PASSWORD}

# BACKEND_POSTGRES_USER_PASSWORD contains the backend's Postgres
# account's password.
#
BACKEND_POSTGRES_USER_PASSWORD=${BACKEND_POSTGRES_USER_PASSWORD}

APPLICATION_JWT_SECRET=${APPLICATION_JWT_SECRET}
