# GRAFANA_ADMIN_PASSWORD contains Grafrana's admin account's password.
# We rename from GRAFANA_ADMIN_PASSWORD to GF_SECURITY_ADMIN_PASSWORD here.
#
GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
