# MINIO_ROOT_PASSWORD contains Minio's root account's password
#
MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}

# BACKEND_MINIO_USER_PASSWORD contains the backend's Minio
# account's password.
#
BACKEND_MINIO_USER_PASSWORD=${BACKEND_MINIO_USER_PASSWORD}

# LANGFUSE_MINIO_USER_PASSWORD contains the Langfuse's Minio
# account's password.
#
LANGFUSE_MINIO_USER_PASSWORD=${LANGFUSE_MINIO_USER_PASSWORD}
