DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$BACKEND_POSTGRES_USER_NAME') THEN
    CREATE USER $BACKEND_POSTGRES_USER_NAME WITH ENCRYPTED PASSWORD '$BACKEND_POSTGRES_USER_PASSWORD';
  END IF;
END
$$;
\g

SELECT 'CREATE DATABASE $BACKEND_POSTGRES_DATABASE WITH OWNER $BACKEND_POSTGRES_USER_NAME CONNECTION LIMIT 15'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '$BACKEND_POSTGRES_DATABASE')
\gexec

\c $BACKEND_POSTGRES_DATABASE

SELECT 'CREATE EXTENSION vector'
WHERE NOT EXISTS (SELECT FROM pg_extension WHERE extname = 'vector')
\gexec


DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$LANGFUSE_POSTGRES_USER_NAME') THEN
    CREATE USER $LANGFUSE_POSTGRES_USER_NAME WITH CREATEDB ENCRYPTED PASSWORD '$LANGFUSE_POSTGRES_USER_PASSWORD';
  END IF;
END
$$;
\g

SELECT 'CREATE DATABASE $LANGFUSE_POSTGRES_DATABASE WITH OWNER $LANGFUSE_POSTGRES_USER_NAME CONNECTION LIMIT 15'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '$LANGFUSE_POSTGRES_DATABASE')
\gexec
