--
-- Create LangFuse user.
--
-- NOTE: Users are global in Postgres.
--
DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$LANGFUSE_POSTGRES_USER_NAME') THEN
    CREATE USER $LANGFUSE_POSTGRES_USER_NAME WITH CREATEDB ENCRYPTED PASSWORD '$LANGFUSE_POSTGRES_USER_PASSWORD';
  END IF;
END
$$;
\g


--
-- Create LangFuse database.
--

SELECT 'CREATE DATABASE $LANGFUSE_POSTGRES_DATABASE WITH OWNER $LANGFUSE_POSTGRES_USER_NAME CONNECTION LIMIT 15'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '$LANGFUSE_POSTGRES_DATABASE')
\gexec
