DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$BACKEND_POSTGRES_USER_NAME') THEN
    CREATE USER $BACKEND_POSTGRES_USER_NAME WITH ENCRYPTED PASSWORD '$BACKEND_POSTGRES_USER_PASSWORD';
  END IF;
END
$$;
\g

SELECT 'CREATE DATABASE langchain WITH OWNER $BACKEND_POSTGRES_USER_NAME CONNECTION LIMIT 15'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = 'langchain')
\gexec

\c langchain

SELECT 'CREATE EXTENSION vector'
WHERE NOT EXISTS (SELECT FROM pg_extension WHERE extname = 'vector')
\gexec
