--
-- Create 4 users:
--    * Backend application user.
--    * Backend vectors user.
--    * Backend checkpoints user.
--    * LangFuse user.
--
-- NOTE: Users are global in Postgres.
--

DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$BACKEND_POSTGRES_USER_NAME') THEN
    CREATE USER $BACKEND_POSTGRES_USER_NAME WITH ENCRYPTED PASSWORD '$BACKEND_POSTGRES_USER_PASSWORD';
    ALTER ROLE $BACKEND_POSTGRES_USER_NAME SET search_path TO answers, public;
  END IF;
END
$$;
\g

DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$BACKEND_VECTORS_POSTGRES_USER_NAME') THEN
    CREATE USER $BACKEND_VECTORS_POSTGRES_USER_NAME WITH ENCRYPTED PASSWORD '$BACKEND_VECTORS_POSTGRES_USER_PASSWORD';
    ALTER ROLE $BACKEND_VECTORS_POSTGRES_USER_NAME SET search_path TO vectors, public;
  END IF;
END
$$;
\g

DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$BACKEND_CHECKPOINTS_POSTGRES_USER_NAME') THEN
    CREATE USER $BACKEND_CHECKPOINTS_POSTGRES_USER_NAME WITH ENCRYPTED PASSWORD '$BACKEND_CHECKPOINTS_POSTGRES_USER_PASSWORD';
    ALTER ROLE $BACKEND_CHECKPOINTS_POSTGRES_USER_NAME SET search_path TO checkpoints, public;
  END IF;
END
$$;
\g

DO $$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_roles WHERE rolname = '$LANGFUSE_POSTGRES_USER_NAME') THEN
    CREATE USER $LANGFUSE_POSTGRES_USER_NAME WITH CREATEDB ENCRYPTED PASSWORD '$LANGFUSE_POSTGRES_USER_PASSWORD';
  END IF;
END
$$;
\g


--
-- Create 3 databases
--    * Backend database.
--    * Backend migration-baseline database.
--    * LangFuse database.
--

SELECT 'CREATE DATABASE $BACKEND_POSTGRES_DATABASE WITH OWNER $BACKEND_POSTGRES_USER_NAME CONNECTION LIMIT 15'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '$BACKEND_POSTGRES_DATABASE')
\gexec

SELECT 'CREATE DATABASE $MIGRATION_BASELINE_POSTGRES_DATABASE WITH OWNER $BACKEND_POSTGRES_USER_NAME CONNECTION LIMIT 15'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '$MIGRATION_BASELINE_POSTGRES_DATABASE')
\gexec

SELECT 'CREATE DATABASE $LANGFUSE_POSTGRES_DATABASE WITH OWNER $LANGFUSE_POSTGRES_USER_NAME CONNECTION LIMIT 15'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '$LANGFUSE_POSTGRES_DATABASE')
\gexec


--
-- With backend database:
--    * Create schemas for application, LangGraph checkpoints, and PGVector embeddings.
--    * Add the PGVector extension.
--

\c $BACKEND_POSTGRES_DATABASE

SELECT 'CREATE EXTENSION vector'
WHERE NOT EXISTS (SELECT FROM pg_extension WHERE extname = 'vector')
\gexec

CREATE SCHEMA IF NOT EXISTS answers;
\g

-- Allow backend user to use and create objects in schema 'answers'
GRANT USAGE, CREATE ON SCHEMA answers TO $BACKEND_POSTGRES_USER_NAME;
\g

-- Ensure backend user has permissions to future objects in schema 'answers'
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON TABLES TO $BACKEND_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON SEQUENCES TO $BACKEND_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON FUNCTIONS TO $BACKEND_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON TYPES TO $BACKEND_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON ROUTINES TO $BACKEND_POSTGRES_USER_NAME;
\g

CREATE SCHEMA IF NOT EXISTS checkpoints;
\g

-- Allow checkpoints user to use and create objects in schema 'checkpoints'
GRANT USAGE, CREATE ON SCHEMA checkpoints TO $BACKEND_CHECKPOINTS_POSTGRES_USER_NAME;
\g

-- Ensure checkpoints user has permissions to future objects in schema 'checkpoints'
ALTER DEFAULT PRIVILEGES IN SCHEMA checkpoints GRANT ALL PRIVILEGES ON TABLES TO $BACKEND_CHECKPOINTS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA checkpoints GRANT ALL PRIVILEGES ON SEQUENCES TO $BACKEND_CHECKPOINTS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA checkpoints GRANT ALL PRIVILEGES ON FUNCTIONS TO $BACKEND_CHECKPOINTS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA checkpoints GRANT ALL PRIVILEGES ON TYPES TO $BACKEND_CHECKPOINTS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA checkpoints GRANT ALL PRIVILEGES ON ROUTINES TO $BACKEND_CHECKPOINTS_POSTGRES_USER_NAME;
\g

CREATE SCHEMA IF NOT EXISTS vectors;
\g

-- Allow vectors user to use and create objects in schema 'vectors'
GRANT USAGE, CREATE ON SCHEMA vectors TO $BACKEND_VECTORS_POSTGRES_USER_NAME;
\g

-- Ensure vectors user has permissions to future objects in schema 'vectors'
ALTER DEFAULT PRIVILEGES IN SCHEMA vectors GRANT ALL PRIVILEGES ON TABLES TO $BACKEND_VECTORS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA vectors GRANT ALL PRIVILEGES ON SEQUENCES TO $BACKEND_VECTORS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA vectors GRANT ALL PRIVILEGES ON FUNCTIONS TO $BACKEND_VECTORS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA vectors GRANT ALL PRIVILEGES ON TYPES TO $BACKEND_VECTORS_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA vectors GRANT ALL PRIVILEGES ON ROUTINES TO $BACKEND_VECTORS_POSTGRES_USER_NAME;
\g


--
-- With migration-baseline database:
--    * Create schemas for application.
--    * Add the PGVector extension.
--

\c $MIGRATION_BASELINE_POSTGRES_DATABASE

SELECT 'CREATE EXTENSION vector'
WHERE NOT EXISTS (SELECT FROM pg_extension WHERE extname = 'vector')
\gexec

CREATE SCHEMA IF NOT EXISTS answers;
\g

-- Allow backend user to use and create objects in schema 'answers'
GRANT USAGE, CREATE ON SCHEMA answers TO $BACKEND_POSTGRES_USER_NAME;
\g

-- Ensure backend user has permissions to future objects in schema 'answers'
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON TABLES TO $BACKEND_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON SEQUENCES TO $BACKEND_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON FUNCTIONS TO $BACKEND_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON TYPES TO $BACKEND_POSTGRES_USER_NAME;
\g
ALTER DEFAULT PRIVILEGES IN SCHEMA answers GRANT ALL PRIVILEGES ON ROUTINES TO $BACKEND_POSTGRES_USER_NAME;
\g
