# POSTGRES_PASSWORD contains Postgres's root account's password
#
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

# BACKEND_POSTGRES_USER_PASSWORD contains the backend's Postgres
# account's password.
#
BACKEND_POSTGRES_USER_PASSWORD=${BACKEND_POSTGRES_USER_PASSWORD}

# LANGFUSE_POSTGRES_USER_PASSWORD contains Langfuse's Postgres
# account's password.
#
LANGFUSE_POSTGRES_USER_PASSWORD=${LANGFUSE_POSTGRES_USER_PASSWORD}
